@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
    background-color: #F0F2F5;
}
.bod{
    position: relative;
}
.bdti:focus{
    background: red !important;
}
.bdti:active .bdt{
display: flex;
}